$dark: #070D0D;
$light: #D7D7D7;
$white: #FFFFFF;
$gray: #E3E3E3;

$theme: red;
$bgLogin: #250303;
$bgTabs: #3A1C1C;
$bgHorizontalLine: #1F2525;
$primary: #DD0E0E;
$primaryText: $white;
$secondary: rgba(#FF5252, .7);

/* $theme: green;
$bgLogin: #0D1807;
$bgTabs: #252F1F;
$bgHorizontalLine: #1F2525;
$primary: #59AE16;
$primaryText: $white;
$secondary: rgba(#A1EB73, .7);  */

/* $theme: blue;
$bgLogin: #08182B;
$bgTabs: #202F3F;
$bgHorizontalLine: #1F2525;
$primary: #1F3BE5;
$primaryText: $white;
$secondary: rgba(#1B9AF6, .7); */

$white10: rgba($white, .1);
$white90: rgba($white, .9);
$white25: rgba($white, .25);